body{
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  line-height: 22px;
  margin:0px;
  padding:0px;
  font-weight: 400;
  color:#333;
  background-color: 0;
}
h1{
  line-height: 40px;
}
h3{
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 700;
}
hr{
  border:0px;
  background-color: #f7f7f7;
  height: 1px;
  margin: 0px;
  margin-bottom: 15px;
}

td{
  padding: 10px;
}

tr{
  margin:5px;
  border-bottom: 1px solid lightgray
}

.data_img{
  cursor: pointer;
  display: inline-block;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.loadmore{
  background-color:#f1f1f1; 
  text-align:center; 
  padding-top:10px; 
  margin-top:5px; 
  height:45px;
  width:100%;
  font-weight: 600;
}
.loadmore:hover{
  background-color:lightgray;
}
.loadmore:active{
  background-color:orange;
}
.data_img_text{
  position: absolute;
  margin-top: -42px;
  padding: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left:6px;
  z-index: 1000;
  font-size: 11px;
  background-color: rgba(255,255,255,0.8);
  cursor: pointer;
}

.input_img_container{
  display: inline-block;
  height: 64px;
  width:130px;
}

.input_img{
  width: 100%;
  background-size: cover;
  height: 100%;
}
.input_img_selected{
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
  border:3px solid cyan !important;
}

#container_site{
  width: 86%!important;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 0px;
}

.control-label{
  text-align: left !important;
}
.form-control{
  margin-bottom: 15px;
}
.clickable{
  cursor: pointer;
  color:#23527C;
}
.clickable:hover{
  color:#417bad;
}
.imgcount{
  font-size: 14px;
  color: lightgray;
  margin-left: 10px;
  display: inline-block;
  margin-top:5px;
  float: right;
  font-weight: 600;
}
.control-label{
  color: gray!important;
}
#input_dir_display{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
}

.dir_display{
  height: 20px;
}

#output_console{
  background-color: black;
  color: #d3d3d3;
  border-radius: 0px;
  border:0px;
}
.link{
  color:#23527C;
  cursor: pointer;
}

