body{
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  line-height: 22px;
  margin:0px;
  padding:0px;
  font-weight: 400;
  color:#333 ;
  background-color: #f7f7f7;
}
h1{
  line-height: 40px;
}
h3{
  margin: 0px;
  padding: 0px;
}
hr{
  border:0px;
  background-color: #f7f7f7;
  height: 1px;
  margin: 0px;
  margin-bottom: 15px;
}


.input_img{
  height: 84px;
  background-size: cover;
  width:150px;
  display: inline-block;
}

#container_site{
  width: 90%!important;
  margin-left: auto;
  margin-right: auto;
}

.control-label{
  text-align: left !important;
}
.form-control{
  margin-bottom: 15px;
}
.clickable{
  cursor: pointer;
  color:#23527C;
}
.clickable:hover{
  color:#417bad;
}
.imgcount{
  font-size: 14px;
  color: lightgray;
  margin-left: 10px;
  display: inline-block;
  margin-top:5px;
  float: right;
  font-weight: 600;
}
.control-label{
  color: gray!important;
}
.data_img{
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.data_img:hover{
  background-color: yellow;
}
.data_img_text{
  position: absolute;
  margin-top: -34px;
  padding: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left:10px;
  z-index: 1000;
  font-size: 11px;
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}
