<!DOCTYPE html>
<html>
  <head>
    <title>DeepDreamAnim UI</title>
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">

    <script src="static/js/jquery-2.1.4.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/buzz.min.js"></script>
    <script src='static/js/nprogress.js'></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.magnific-popup.js"></script>
    <script src="static/js/deepdreamui.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='static/css/nprogress.css'/>
    <link rel='stylesheet' href='static/css/magnific-popup.css'/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" href="static/css/main.css"> 
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAJ6TrAFy+8QCC0vgA7+/vAC6n7ACE0/gAS2RuAKbU5QDAwMAAv+3+ACek6gApoeYAAAAAAAAAAAAAAAAARERERERERABEREREREREAEREREREREQAREREeIRERABJmZSohUREAERERKolVEQAREREozUVRABJmZRDNlFUAEREREQzZRUAREREREM2W1BJmZmZRDNlxUREREREQzZVREREREREMzVJmZmZmURDM0REREREREQzRERERERERAMAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAA" rel="icon" type="image/x-icon" />
  </head>

  <body>
    <div id="container_site">

      <br/>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" id="tab_home" href="#home"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> <strong>DeepDream UI</strong></a></a></li>
        <li><a data-toggle="tab" id="tab_console" href="#console"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Console</a></li>
        <li><a data-toggle="tab" id="tab_jobs" href="#jobs"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Jobs</a></li>
        <li><a data-toggle="tab" id="tab_settings" href="#settings"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Settings</a></li>

      </ul>
      <br/>

      <div class="tab-content">
        
        <div id="settings" class="tab-pane fade">
          Username
          <div class="input-group">
            <input type="text" id="settings_username" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon2">
          </div>
          <br/>
          Amazon S3 Key
          <div class="input-group">
            <input type="text" id="settings_s3key" name="s3key" class="form-control" placeholder="S3 Key" aria-describedby="basic-addon2">
          </div>
          Amazon S3 Secret
          <div class="input-group">
            <input type="text" id="settings_s3secret" name="s3secret" class="form-control" placeholder="S3 Secret" aria-describedby="basic-addon2">
          </div>
          <br/>
          <button type="button" class="btn btn-default btn-sm" id="input_upload" onclick="$('#input_upload_selector').click();">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Sync Data
          </button>
        </div>

        <div id="console" class="tab-pane fade">
          <textarea class="form-control" id="output_console" rows="30"></textarea> 
        </div>
        
        <div id="jobs" class="tab-pane fade">
          <table style="width:100%;" id="jobs_table"></table>
        </div>

        <div id="home" class="tab-pane fade in active">
  
          <div class="row">
            
            <div class="col-xs-4">
              <h3 id="input_dir_display" class="dir_display">
                <span><a href="">Input</a></span> >
                <span><a href="">Folder</a></span> >
                <span id="input_amount">0 Images</span>
              </h3>
              <br/>
              
          
              <button type="button" class="btn btn-default btn-sm" id="input_upload" onclick="$('#input_upload_selector').click();">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload
              </button>

              <button type="button" class="btn btn-default btn-sm file_delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
              </button>

              <button type="button" class="btn btn-default btn-sm" id="input_makefolder">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Make Folder
              </button>

              <button type="button" class="btn btn-default btn-sm" id="input_makemovie">
                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Extract Movie
              </button>

              <form action="" method=post enctype=multipart/form-data>
                <input id="input_upload_selector" name=file type="file" style="visibility:hidden" onchange="javascript:this.form.submit()" />
              </form>

               <div style="height:520px; width:100%; overflow:hidden; overflow-y:scroll; border:0px solid lightgray" id="container_input">
                <div class="input_img" style="background-image:url(https://i.imgur.com/yjlwXsy.jpg)"></div>
              </div>
              
            </div>


            <div class="col-xs-4" >
              <h3  class="dir_display">Parameter
              <div style="float:right;font-size:13px;color:lightgray">Unnamed Jobs</div>
              </h3>
              <br/>

              <div class="form-group has-success has-feedback">
    

                  <button type="button" class="btn btn-success btn-sm" id="render_final">
                    <span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span> Start Render
                  </button>

                  <button type="button" class="btn btn-danger btn-sm" id="render_final_stop">
                    <span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span> Stop Render
                  </button>

                  <button type="button" class="btn btn-default btn-sm" id="render_savejob">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save Job
                  </button>
                  
                <br/><br/>

                <label class="control-label col-sm-3" for="inputSuccess3">Quality</label>

                <div class="col-sm-9">
                  <select class="form-control input-sm" id="params_presets">
                    <option selected>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                  </select>
                </div>

                <label class="control-label col-sm-3" for="inputSuccess3">Network</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="params_network"></select>
                </div>
              
                <label class="control-label col-sm-3" for="inputSuccess3">Layers</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control input-sm" value="inception_4a/output" id="params_layers"/>
                </div>

                <label class="control-label col-sm-3" for="inputSuccess3">Octaves</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="params_octaves"></select>
                </div>
                <label class="control-label col-sm-3" for="inputSuccess3">Octavescale</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="params_octavescale"></select>
                </div>
                <label class="control-label col-sm-3" for="inputSuccess3">Iterations</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="params_iterations"></select>
                </div>

                <label class="control-label col-sm-3" for="inputSuccess3">Jitter</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="params_jitter"></select>
                </div>

                <label class="control-label col-sm-3" for="inputSuccess3">Stepsize</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="params_stepsize"></select>
                </div>

                <label class="control-label col-sm-3" for="inputSuccess3">Blend</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="params_blend"></select>
                </div>

                <label class="control-label col-sm-3" for="inputSuccess3">Opticalflow</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="params_opticalflow"></select>
                </div>

                <label class="control-label col-sm-3" for="inputSuccess3">Guide</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control input-sm" value="" placeholder="url" id="params_guide" />
                </div>


                <label class="control-label col-sm-3" for="inputSuccess3">GPU</label>
                <div class="col-sm-9">
                  <select class="form-control input-sm" id="params_gpu"></select>
                </div>

              </div>
            </div>

            <div class="col-xs-4">
              <h3 id="output_dir_display" class="dir_display" > 
                Output > 
                <span id="output_amount">0 Images</span>
              </h3>
              <br/>
              <button type="button" class="btn btn-default btn-sm" id="output_download">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download
              </button>

              <button type="button" class="btn btn-default btn-sm file_delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
              </button>

              <button type="button" class="btn btn-default btn-sm" id="output_makefolder">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Make Folder
              </button>

              <button type="button" class="btn btn-default btn-sm" id="output_makemovie">
                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Make Movie
              </button>

              <br/><br/>

               <div style="height:520px; width:100%; overflow:hidden; overflow-y:scroll;border:0px solid lightgray" id="container_output">
                <div class="input_img" style="background-image:url(http://venturebeat.com/wp-content/uploads/2015/07/deepdream-2.jpeg)"></div>
              </div>
              <div class="popup-gallery" style='display: none;'></div>

              </div>
            

            </div>

          </div>
         </div>
        </div>
    </div>
  </body>
</html>
