<!DOCTYPE html>
<html>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="textCtrl"> 


<br/><br/>

<ul>
  <li ng-repeat="entry in data.textChunks">
    {{ summary("my summary text") }}
    {{ entry.text }}

    

  </li>
</ul>

</div>

<script>
//////////////// Vars ////////////////
// var collection = { textInput: {title:"",text:"",author:"",date:"",sourceurl:"",}, textChunks: [] };


//////////////// Modules ////////////////
var structure = function() {
  //var names = ["Sunday", "Monday"];

  var guid = function() {
    function s4() {
      return Math.floor((1 + Math.random()) * 0x10000)
        .toString(16)
        .substring(1);
    }
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
      s4() + '-' + s4() + s4() + s4();
  }

  var convertIntoChunk = function (data) {
    var breaks = data.split('\n');
    var chunks = [];
    var maxChunckLength = 3000;
    chunks.push(breaks[0]);

    for(var i = 1; i < breaks.length; i ++){
      if(breaks[i].length<=1){continue;}
     
      if(chunks[chunks.length-1].length + breaks[i].length < maxChunckLength){
        chunks[chunks.length-1] += "\n";
        chunks[chunks.length-1] += breaks[i];
      }
      else{
        chunks.push(breaks[i]);
      }
    }
    return chunks;
  };

  return {
    process_input: function(data){

      var collection = { textInput: {title:"",text:"",author:"",date:"",sourceurl:"",}, textChunks: [] };
      collection.textInput.text = data.text;
      collection.textInput.title = "text title";
      collection.textInput.author = "authorname";
      collection.textInput.date = "19/12/2015";
      collection.textInput.sourceurl = data.url;

      var chunks = convertIntoChunk(data.text);

      for(var i = 0; i < chunks.length; i ++){
        var uuid = guid();
        var newChunk = { id: uuid, text: chunks[i], summary:[], meta:[] };
        collection.textChunks.push(newChunk);
      }
      return collection;   
    }
  };

}();


////////////////// ANGULAR //////////////////

var app = angular.module('myApp', []);

app.controller('textCtrl', function($scope, netService) {
  netService.getContent().then(function(data) {
    console.log(data);
    $scope.data = data;
  });
});

app.factory('netService', function($http) {
  return {
    getContent: function() {
      return $http.post('http://localhost:5000/api/v1.0/extract_text', {url:'http://www.newyorker.com/magazine/2015/05/18/distant-emotions'})
      .then(function(result) {
        var collection = structure.process_input(result.data.extract);
        return collection;
      });
    },
    getSummary: function(input) {
      return $http.post('http://localhost:5000/api/v1.0/summary', {title: "input_title", text: "input", amount : 5})
      .then(function(result) {
        console.log(result);
        return result;
      });
    }
  }
});

// $http.post('http://localhost:5000/api/v1.0/summary', {title: "input_title", text: input.text, amount : 5}).
// success(function(data, status, headers, config) {
//   console.log(data);
// }).
// error(function(data, status, headers, config) {
//   console.log("error: " + data);
// });


</script>

</body>
</html>
